body {
  background-color: #f7f3f3;
}

p {
  width: 550px;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

#main {
  width: 700px;
  padding: 20px;
  border-radius: 5px;
  border: solid;
  border-color: #333333;
  margin-bottom: 20px;
}

div {
    background-color: #f2e9e9;
    font-family: Arial, sans-serif;
    width: 700px;
    color: #333333;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
    border: solid;
    border-color: #333333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#header {
  background-image: url(https://media.licdn.com/dms/image/v2/D4D16AQEeOgb9hUKNAg/profile-displaybackgroundimage-shrink_350_1400/B4DZmkAvUtJQAY-/0/1759393282421?e=1764201600&v=beta&t=Q4i1yq3dNDGagQqKNgeqdMrmoJ1fRHRpo5miVeCkIrc);
  background-size: cover;
}

#footer {
  background-image: url(./images/computer-with-glasses-3d-programming-code_124008-52.jpg);
  color: white;
}

#about {
  font-size: 19px;
  color: rgb(86, 11, 22);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
  list-style: none;
  padding: 10px;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  background-color: rgb(12, 10, 114);
  opacity: 0,1;
  border: solid;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: inset 0 0 5px #888888;
}

img {
  border-radius: 50%;
  border: solid;
  border-color: #333333;
  width: 250px;
  height: 250px;
}

#lewagon {
  color: #8a3434;
  margin: 30px 0;
  width: auto;
  text-align: center;
}

.pulse:visited {
  color: purple;
  background-color: thistle;
}

h1 {
  color: #8a3434;
}

a:hover {
  background-color: #ba6a6a;
  color: rgb(29, 23, 23);
  }

.glitter {
  animation: glitter 7s infinite alternate;
}

@keyframes glitter {
  0% { color: #fff; text-shadow: 0 0 5px #ff0000, 0 0 10px #ff6600; }
  50% { color: #eeede7; text-shadow: 0 0 10px #d74bc9, 0 0 20px #eb83f2; }
  100% { color: #fff; text-shadow: 0 0 5px #00ffff, 0 0 15px #00ccff; }
}

.pulse {
  animation: pulse 1.5s infinite ease-in-out;
  color: purple;
  background-color: thistle;
  border-color: purple;
}

.pulse {
  animation: pulse 1.8s infinite ease-in-out;
  transition: all 0.2s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(138, 52, 52, 0.7);
  }
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(138, 52, 52, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(138, 52, 52, 0);
  }
}

a:visited{
  color: white;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
